.App {
  text-align:left;
  background:rgba(57,72,120, 0.2);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.home {
  justify-content: center;
  position: absolute;
  left: 0; right: 0;
  bottom: 50%; top: 50%;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

footer {
  flex-direction: column;
  flex: 1;
  border-top: 3px solid black;
  margin-top: 10vh;
  font-size: 1.5em;
  position: absolute;
  left: 0; right: 0; bottom: 0;
}

header {
  background:#2F3030;
  padding:10px;
  flex: 1;
  display:flex;
  justify-content: space-between;
}

nav {
  justify-content: flex-end;
}

li {
  display: -webkit-inline-flex;
  padding:15px;
  font-family:baskerville;
  letter-spacing: 0.05em;
  font-size:20px;
  color:white;
}

li:hover {
  color:#64B3D1;
  cursor: pointer;
  transition: ease-in-out, .3s ease-in-out;
}

.logo {
  color:white;
  font-size:36px;
  margin-right:30px;
  font-family:baskerville;
  margin-top:20px;
  margin-left:20px;
}

.movies-container {
  max-width:80%;
  min-width: 80%;
  margin: 0 auto;
  display: flex;
  flex:1;
}

.movie{
  border:2px solid #C2C7C7;
  background:white;
  padding:0px 30px 30px 30px;
  width:60%;
  float: right;
  margin-top:-300px;
  margin-bottom: 330px;
}

.movie h3{
  font-family:baskerville;
  font-size:40px;
  color:#303E63;
  margin-bottom:-10px;
}

.movie p {
  font-family: 'Oxygen', sans-serif;
  font-size:22px;
  letter-spacing: 0.05em;
  line-height: 1.3em;
}

.movie span{
  border: 1.5px solid #dedede;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:18px;
  float:right;
  margin-top:-30px;
  margin-right:10px;
}

.movie span:hover{
  background: #bdbdbd;
  border: 1.5px solid #bdbdbd;
  color:#303E63;
}

footer {
  background:#2F3030;
  display:flex;
  flex: 1;
  color:white;
  text-align: center;
  padding:20px;
  font-family:baskervile;
  font-size:20px;
  letter-spacing: 0.05em;
}

.add {
  width: 400px;
  margin-top:120px;
}

.add label{
  font-family:baskerville;
  font-size:28px;
  color:#303E63;
  margin-bottom:10px;
  letter-spacing: 0.05em;
}

.add input[type='text']{
  width:350px;
  padding:10px;
  margin-bottom:20px;
  font-size:16px;
  font-family: 'Oxygen', sans-serif;
}

.add input[type='submit'] {
  border: 1.5px solid #dedede;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:16px;
  background:white;
}

.add input[type='submit']:hover{
   background: #bdbdbd;
  border: 1.5px solid #bdbdbd;
  color:#303E63;

} 

