.App {
  text-align:left;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.home {
  justify-content: center;
  position: absolute;
  left: 0; right: 0;
  margin-top: 20vh;
  align-items: center;
  text-align: center;
  font-size: 2em;
}


.login-container form {
  margin-top: 200px;
}

.login-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.login-container form input[type=text], .login-container  form input[type=password], .login-container form input[type=submit], .login-container form input[type=email] {
  font-size: 1.7em;
  transition: ease-in-out, .35s ease-in-out;
  margin: 10px;
  background-color: #222;
  border: solid 4px #64B3D1;
  border-radius: 10px;
  width: 50vw;
  display: inline-block;
  text-align: center;
  height: 5vh;
  color: white;
},

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

.login-container form input:hover  {
  background-color: rgba(255 , 255, 255, .9);
  cursor: pointer;
  transition: ease-in-out, .35s ease-in-out;
  color: black;
  border-color: inherit;
}

.login-container form input[type=submit] {
  height: 5.5vh;
  width: 55%;
}



.App-intro {
  font-size: large;
}

footer {
  flex-direction: column;
  flex: 1;
  border-top: 3px solid black;
  margin-top: 10vh;
  font-size: 1.5em;
  position: absolute;
  left: 0; right: 0; bottom: 0;
}

header {
  background:#2F3030;
  padding:10px;
  flex: 1;
  display:flex;
  justify-content: space-between;
}

nav {
  justify-content: flex-end;
}

li {
  display: -webkit-inline-flex;
  padding:15px;
  font-family:baskerville;
  letter-spacing: 0.05em;
  font-size:20px;
  color:white;
}

li:hover {
  color:#64B3D1;
  cursor: pointer;
  transition: ease-in-out, .3s ease-in-out;
}

.logo {
  color:white;
  font-size:36px;
  margin-right:30px;
  font-family:baskerville;
  margin-top:20px;
  margin-left:20px;
}

.movies-container {
  max-width:80%;
  min-width: 80%;
  margin: 0 auto;
  overflow: auto;
  text-align: left;
}

.movies-list {
  overflow: auto;
  padding-top: 5vh;
  left: 50%;
  right: 50%;
  height: 60vh;
  text-align: left;
}

.movie{
  border:2px solid #dedede;
  margin-top:30px;
  padding:0px 0px 30px 30px;
  width:60%;
}

.movie h3{
  font-family:baskerville;
  font-size:40px;
  color:#303E63;
  margin-bottom:-10px;
}

.movie p {
  font-family: 'Oxygen', sans-serif;
  font-size:22px;
  letter-spacing: 0.05em;
  line-height: 1.3em;
}

.movie span{
  border: 2px solid #dedede;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:18px;
  float:right;
  margin-top:-30px;
  margin-right:50px;
}

.movie span:hover{
  background: #bdbdbd;
  border: 2px solid #bdbdbd;
  color:#303E63;
}

footer {
  background:#2F3030;
  display:flex;
  flex: 1;
  color:white;
  text-align: center;
  padding:20px;
}

.add {
  background:#59B1DE;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 34vw;
  height: 20vh;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  align-items: center;
}

.add-input {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
justify-content: space-around;
padding-top: 10px;
letter-spacing: 4px;
text-align: center;
}

.add input {
  display: flex;
  text-align: center;
  border-radius: 4px;

}

.add form input[type=submit] {
  background-color: inherit;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  height: 4vh;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.5em;
  color: black;
  font-weight: 900;
}


.add form input[type=text] {
  background-color: white;
  border: 3px solid black;
  letter-spacing: 2px;
  height: 2.5vh;
  font-size: 20px;
  color: #65F1B5;
  font-weight: 600;
  transition: ease-in-out, .3s ease-in-out;
}


.add label{
  font-family: baskerville;
  font-size: 2em;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
